
@media only screen and (max-width: 480px) {

	.hero-text-box{
		font-size: 0.5em;
	}
	.small{
		text-align: center;
	}
	.xs{
		font-size: 1.3em;
	}
	.app-screen{
		width: 100% !important;
		margin-left: 20px;
	}

   .col {
   	margin-bottom: 8px;
   }
   .main-nav{
   	margin-right: 3px;
   }
   .hero-text-box div {
      font-size: 12px !important;
 }


@media only screen and (max-width: 767px) {

	.hero-text-box{
		font-size: 0.75em;
	}
	.long-copy {
		width: 100%;
		margin-left: 0%;
	}
	.small{
		text-align: center;
	}
}


@media only screen and (max-width: 1023px) {
	body { font-size: 18px; }
	section { padding: 60px 0; }
	
		.long-copy {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	.steps-box {
		margin-top: 10px;
	}
	.steps-box:last-child {
		margin-top: 10px;
	}
	.works-steps {
		margin-bottom: 40px;
	}
	.works-steps:last-of-type {
		margin-bottom: 80px;
	}
	.app-screen {
		width: 50%;
	}
	.icon-small {
		width: 17px;
		margin-right: 5px;
	}
	.city-features {
		font-size: 0.85em;
	}
	.plan-box {
		width: 100%;
		margin-left: 0%;
	}
	.plan-price {
		font-size: 2.5em;
	}
	.section-form {
		width: 90%;
	}
	.social-icons,
	.footer-nav {
		float: none;
		text-align: center;
	}
	.footer-nav {
		margin-bottom: 10px;
	}

}


@media only screen and (max-width: 1200px) {

.hero-text-box {
	padding: 0 2%;
	width: 100%;
}

.row { padding: 0 2%; } /*113201698356 */
}